body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
figcaption,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

/* The end of Reseting CSS */
.btn {
  display: block;
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #9356DC;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff46cc));
  background: linear-gradient(to top, #a16be0 0%, #ff46cc 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 25px;
}

/*.btn {
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 51%, $primary-color 100%);
    padding: 15px 85px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    box-shadow: $box-shadow;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: $box-darker-shadow;
} 
*/
.list {
  width: 250px;
  padding: 15px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px;
  background-color: rgb(243, 243, 243);
  font-weight: bolder;
}

.list:hover {
  background-color: #eadef9;
}
.list:hover > i {
  color: #9356DC;
  background-color: #eadef9;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}
.card a {
  background-color: white;
  border: 7px solid white;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  line-height: 20px;
}
.card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.card .restoraunt {
  padding-left: 3px;
  color: black;
}
.card i {
  padding-left: 10px;
}
.card .text-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
}
.card .text-heart .restaurant-name {
  font-weight: bold;
}
.card .text-heart .restaurant-location {
  font-weight: lighter;
}
.card .text-heart .fa-heart {
  color: rgb(131, 131, 131);
}
.card .text-heart .fa-heart:hover {
  -webkit-animation: heartColorChange 5s ease-in-out;
          animation: heartColorChange 5s ease-in-out;
}

@-webkit-keyframes heartColorChange {
  0% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes heartColorChange {
  0% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}
body {
  background-color: rgb(228, 226, 226);
}

.body {
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgb(228, 226, 226);
  font-family: "Roboto", sans-serif;
}
.body h1,
.body h2 {
  padding: 20px;
  font-size: 24px;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  opacity: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.loader {
  border: 5px solid #070707;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
header {
  padding: 20px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
header a {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: black;
}
header a .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header a:hover {
  color: black;
}

.location {
  padding: 20px;
  font-weight: bolder;
}

.bookAndExplore {
  background-color: rgb(243, 243, 243);
  padding: 0 0 40px 0;
}
.bookAndExplore p {
  font-weight: lighter;
  padding: 20px;
}

.howItWorks {
  padding: 20px;
  background-color: white;
  text-align: left;
}
.howItWorks .fa-solid {
  padding-right: 10px;
}
.howItWorks .fa-solid {
  color: rgb(131, 131, 131);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.numbers {
  position: relative;
  left: 18px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restoraunts-section {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(243, 243, 243);
  text-align: left;
}

footer {
  background-color: rgb(52, 52, 52);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}
footer .align-flexible-row, footer .align-flexible-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer a {
  color: white;
}
footer .fa-utensils, footer .fa-handshake-angle {
  color: white;
  padding-right: 5px;
  width: 20px;
  height: 16px;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}

@media (min-width: 480px) {
  .howItWorks, .restoraunts-section, .bookAndExplore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .howItWorks h1, .restoraunts-section h1, .bookAndExplore h1 {
    font-size: 32px;
  }
  .logo {
    font-size: 32px;
  }
  .card img {
    width: 600px;
    height: 250px;
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .align-flexible-row, footer .align-flexible-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 769px) {
  .body {
    width: 80%;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .align-flexible-row {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .align-flexible-row-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .align-flexible-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 50px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restoraunts-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card img {
    width: 400px;
    height: 200px;
  }
}
header .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu-nav .left-aligh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
header .menu-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  height: 300px;
  width: 100%;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: rgb(243, 243, 243);
}

.logo-style {
  padding: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

.menu {
  background-color: rgb(243, 243, 243);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  top: -30px;
  text-align: left;
}

.course-meal {
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #99E2D0;
}

.space {
  padding: 20px 20px 30px 20px;
}

.bold-text {
  font-weight: bold;
}

.section-one {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menulist {
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.menulist:hover + .done {
  visibility: visible;
  width: 60px;
}
.menulist:hover + .done .box {
  opacity: 100%;
  -webkit-animation: rotate 500ms;
          animation: rotate 500ms;
}
.menulist:hover {
  padding-right: 35px;
  margin-right: 50px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.box {
  opacity: 0%;
  -webkit-transition: opacity 450ms;
  transition: opacity 450ms;
}

.done {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0 10px 0;
  padding: 10px 5px 10px 5px;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  visibility: hidden;
  width: 0px;
}

.one,
.two,
.three {
  width: 300px;
  height: 3em;
  overflow: hidden;
  background: white;
  -webkit-animation: myfirst 0.9s 1;
          animation: myfirst 0.9s 1;
  position: relative;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.two {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.three {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes myfirst {
  0% {
    top: 30px;
    opacity: 0%;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}

@keyframes myfirst {
  0% {
    top: 30px;
    opacity: 0%;
  }
  100% {
    top: 0px;
    opacity: 100%;
  }
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 480px) {
  .img {
    max-width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  .justify::after {
    content: "";
    clear: both;
    display: table;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .justify-one, .justify-two, .justify-three {
    width: 33%;
    float: left;
  }
  .name {
    font-size: 48px;
  }
}
@media (min-width: 769px) {
  .img {
    height: 50%;
  }
}/*# sourceMappingURL=main.css.map */