@mixin align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin section-space {
    padding: 20px;
}
@mixin logo {
    font-family: $logo-titles-fonts;
    font-weight: 300;
    font-size: $titles-font-size;
}