$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$dark-background-color: rgb(185, 185, 185);
$middle-dark-background-color: rgb(229, 229, 229);
$light-background-color: rgba(255, 255, 255, 0.796);

$box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);

$logo-titles-fonts: 'Shrikhand',cursive;
$text-fonts: 'Roboto',sans-serif;

$titles-font-size: 20px;