.btn {
    display: block;
    margin: auto;
    background-image: linear-gradient(to right, $primary-color 0%, $secondary-color 51%, $primary-color 100%);
    padding: 15px 85px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 25px;
    box-shadow: $box-shadow;
}
.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: $box-darker-shadow;
}
