.list {
    width: 250px;
    padding: 15px;
    box-shadow: $box-shadow;
    border-radius: 15px;
    margin: 10px;
    background-color: $light-background-color;
    font-weight: bolder;
}
.list:hover {
    background-color: $light-hover-background-color;
    >i {
    color: $primary-color;
    background-color: $light-hover-background-color;
}}