body {
    text-align: center;
    background-color: $middle-dark-background-color;
    font-family: $text-fonts;
    h1 {
        @include section-space;
        font-size: $titles-font-size;
    }
}
header {
    @include section-space;
    box-shadow: $box-shadow;
    background-color:white;
    a {
        @include logo;
        margin: 15px;
        color:black;
    }
    a:hover {
        color: black;
    }
}
.location {
    @include section-space;
    font-weight: bolder;
}
.bookAndExplore {
    background-color: $light-background-color;
    padding: 0 0 40px 0;
    p {
        font-weight: lighter;
        @include section-space;
    }
}
.howItWorks {
    @include section-space;
    background-color: white;
    text-align: left;
    .fa-solid {
        padding-right: 10px;
    }
    .fa-solid {
        color: $dark-background-color;
    }
}
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.numbers {
    position: relative;
    left: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    color:white;
    text-align: center;
    align-items: center;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 16px;
}
.restoraunts-section {
    @include section-space;
    @include align-center;
    background-color: $light-background-color;
    text-align: left;
}
footer {
    background-color: $footer-background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .align-flexible-row, .align-flexible-column {
       @include align-center;
    }
    a {
    color:white;
    }
    @include section-space;
    .fa-utensils, .fa-handshake-angle {
        color:white;
        padding-right: 5px;
        width: 20px;
        height: 16px;
    }
    .logo {
        @include logo;
        padding-bottom: 10px;
    }
}

@media (min-width: $breakpoint-mobile) {
.howItWorks, .restoraunts-section, .bookAndExplore {
    @include align-center;
    h1 {
        font-size: $bigger-titles-font-size;
        }
}
.logo {
    font-size: $bigger-titles-font-size;
}
.card {
    img {
        width: 600px;
        height: 250px;
    }
}
footer {
    justify-content: center;
}
}

@media (min-width:$breakpoint-tablet) {
.align-flexible-row {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.align-flexible-row-footer{
    display: flex;
     flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.align-flexible-column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 0 50px;
    flex-direction: column;
}
.restoraunts-section {
    flex-wrap: wrap;
}
.card {
    img {
        width: 400px;
        height: 200px;
    }
}
}