body {
    text-align: center;
    background-color: $middle-dark-background-color;
    font-family: $text-fonts;
}
header {
    @include align-center;
    box-shadow: $box-shadow;
    background-color:white;
}
img {
    @include align-center;
    width:150px;
    height: auto;
    margin: 15px;
}
.location {
    @include section-space;
    font-weight: bolder;
}
.bookAndExplore h1 {
    font-size: $titles-font-size;
    @include section-space;
}
.bookAndExplore p {
    font-weight: lighter;
    @include section-space;
}
.bookAndExplore {
    background-color: $light-background-color;
    padding: 0 0 40px 0;
}
.howItWorks {
    @include section-space;
    background-color: white;
    text-align: left;
}
.howItWorks h1 {
@include section-space;
font-size: $titles-font-size;
}
.fa-solid {
    color:$dark-background-color;
}
footer {
    background-color: $footer-background-color;
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
    color:white;
    }
    @include section-space;
    .fa-utensils, .fa-handshake-angle {
        color:white;
        padding-right: 5px;
        width: 20px;
        height: 16px;
    }
    .logo {
        font-family: $logo-titles-fonts;
        font-weight: 300;
        padding-bottom: 10px;
    }
}
