header {
    .menu-nav {
        display: flex;
        align-items: center;
        .left-aligh {
            display: flex;
            flex-basis: 25%;
        }
        .logo {
            display: flex;
            flex-basis: 50%;
            justify-content: center;
        }
    }
}
main {
    background-color: $light-background-color;
}
.logo-style {
    @include section-space;
    font-family: $logo-titles-fonts;
    font-size: $titles-font-size;
}
.menu {
    background-color: $light-background-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    position: relative;
    top: -30px;
    text-align: left;
}
.course-meal {
    padding: 20px 0 10px 0;
    border-bottom: 2px solid $tertiary-color;
}
.space {
    padding: 20px 20px 30px 20px;
}
.bold-text {
    font-weight: bold;
}
.section-one {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.row-animation {
    display: flex;
    align-items: center;
    position: relative;
}
.menulist {
    box-shadow: $box-shadow;
    background-color: $light-background-color;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    &:hover + .done {
        transition: visibility 200ms,
                    width 500ms,
                    justify-content 500ms;
                    
        visibility: visible;
        width:50px;
        justify-content: start;
        i {
                animation: rotate 500ms linear;
            }
    }
    &:hover {
    transition: 
       margin-right 500ms,
       padding-right 500ms;

    padding-right:35px;
    margin-right: 50px;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}
.one,
.two,
.three {
    width: 300px;
    overflow: hidden;
    background: white;
    
    
    animation: myfirst 0.9s 1;
    position: relative;
    animation-timing-function: ease-in-out;
}

.two {
    animation-delay: 0.3s;
}

.three {
    animation-delay: 0.6s;
}

@keyframes myfirst {
    0% {
        top: 30px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.done {
    background-color: $tertiary-color;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 0px;

    position: absolute;
    top: 0;
    right: 0;
    
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 3em;
    
    display: flex;
    align-items: center;
    justify-content: end;

    visibility: hidden;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
