header {
    .menu-nav {
        display: flex;
        align-items: center;
        .left-aligh {
            display: flex;
            flex-basis: 25%;
        }
        .logo {
            display: flex;
            flex-basis: 50%;
            justify-content: center;
        }
    }
}
main {
    background-color: $light-background-color;
}
.logo-style {
    @include section-space;
    font-family: $logo-titles-fonts;
    font-size: $titles-font-size;
}
.menu {
    background-color: $light-background-color;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    position: relative;
    top: -30px;
    text-align: left;
}
.course-meal {
    padding: 20px 0 10px 0;
    border-bottom: 2px solid $tertiary-color;
}
.section-one {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.space {
  padding: 20px 20px 30px 20px;
}
.bold-text {
    font-weight: bold;
}
.menulist {
    box-shadow: $box-shadow;
    background-color: $light-background-color;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0 10px 0;
}
.one, .two, .three {
    animation: myfirst 1.5s 1;
    position: relative;
    animation-timing-function: ease-in-out;
}
.two {
 animation-delay: 0.5s;
}
.three {
animation-delay: 1s;
}
@keyframes myfirst {
    0% {
        top: 50px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }
}
.done {
 display: flex;
}




